.wrapper{
 align-self: baseline;   
 display: flex;
 flex-direction: column;
 gap: 1rem;
 padding: 1.5rem;
 transform: translateY(5rem);
 height: 300px;
 justify-content: center;
 position: sticky;
 top: 200px;
 border-right: 1px solid hsl(0, 5%, 88%);

 @media (max-width: 721px) {
  display: none;
 }
}

.category{
  list-style: none;
  padding: 0;
  margin: 0;
}

.category:active{
  color: var(--orange);
}

.link{
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-size: 0.875rem;
  font-weight: 550;
  text-transform: capitalize;
}

.link:hover, .link::selection, .link:focus, .link:active{
  color: var(--orange);
}

.active{
  color: var(--orange);
}
