.trigger{
    position: relative;
}

.cart{
    width: 100%;

}

@keyframes bump{
    0%{
        transform: scale(1);
    }
    10%{
        transform: scale(0.9);
    }
    30%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.15);
    }
    100%{
        transform: scale(1);
    }
}

.badge{
    position: absolute;
    top: -15px;
    right: -15px;
    background: var(--orange);
    color: white;
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    border-radius: 30px;
    animation: bump 300ms ease-in-out;
}


.content{
    background: white;
    border-radius: 1rem;
    box-shadow: 0px 20px 20px  rgba(0, 0, 0, 0.4);
    margin-right: 1rem;
    margin-top: 2rem;
    margin-left: 0.6rem;
    min-width: 350px;
    position: relative;
    z-index: 30000000;
    
    @media (min-width: 440px) {
        margin-top: 1rem;
    }
}

.content a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cart_title{
    padding: 1.5rem;
    border-bottom: 1px solid hsl(0, 5%, 88%);
}

.cart_title h3{
    font-size: 1rem;
    font-weight: 700;
}

.cart_items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    padding-bottom: 0;
}

.cart_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: var(--dark-grayish-blue);
}

.cart_item p{

    @media screen and (max-width: 440px) {
        max-width: 150px;
    }
}

.cart_item button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    color: var(--dark-grayish-blue);
}

.item_img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.product_details{
    margin-right: auto;
}

.total{
    font-weight: 750;
    color: var(--very-dark-blue);
}

.delete_button{
    width: 0.87rem;
    height: 1rem;
}

.checkout{
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
}

.checkout button{
    box-shadow: none;
}

.checkout button:disabled{
    opacity: 0.5;
}   

.checkout button:not(:first-of-type){
    background: var(--dark-grayish-blue);
}





