.shoe_link{
    text-decoration: none;
    color: inherit;
    display: block;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.shoe_image_wrapper{
    border-radius: 16px 16px 4px 4px;
    overflow: hidden;
    position: relative; 
    min-width: 300px;
    min-height: 400px;
    padding-top: 100%;
}

.shoe_image{
    width: 100%;
    transition: scale 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.shoe_link:hover .shoe_image{
    opacity: 0.9;
    scale: 1.1;
}

.row{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 0.5rem;
}

.name{
    font-weight: 750;
    color: var(--very-dark-blue);
}

.sale_price{
    font-size: 1rem;
    color: var(--dark-grayish-blue);
   
}

.price_original{
  color: var(--grayish-blue);
  font-size: 1rem;
  position: relative;
}

.price_original::after{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1.4px;
  background: var(--dark-grayish-blue);
  top: 50%;
}



.price_discount{
    font-size: 1rem;
    color: var(--orange);
    background: var(--pale-orange);
    padding: 0.1rem 0.6rem;
    margin-top: -10px;
    font-weight: 750;
    border-radius: 0.5rem;
    width: fit-content;
  }

  .on_sale{
    position: absolute;
    top: 12px;
    right: -4px;
    background-color: var(--pale-orange);
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--orange);
    border-radius: 2px; 
  }


