@keyframes toast {
    from {
      transform: translateX(calc(100% + 64px));
    }
  }

  
  .wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    list-style-type: none;
  }
  
  .toastWrapper {
    animation: toast 800ms cubic-bezier(0, 0.46, 0, 1.04) both;
    will-change: transform;
  }



  .toast {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    color: black;
    color-scheme: light;
    background: var(--pale-orange);
    max-width: 100%;
    width: 350px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .content {
    flex: 1;
    padding: 12px 0px;
    font-weight: 600;
  }
  
  .iconContainer {
    flex-shrink: 0;
    padding: 16px;
    padding-right: 0px;
  }
  .iconContainer svg {
    display: block;
  }
  
  .closeButton {
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 16px;
    cursor: pointer;
  }
  
  .notice {
    background: var(--pale-orange);
  }
  .notice .iconContainer {
    color: var(--orange);
  }
  