
.wrapper{
    align-self: center;
    display: grid;
    justify-content: center;
    align-items: center;
    
    @media (min-width: 420px) {
    grid-template-columns: minmax(auto, 150px) 1fr;
    padding: 1rem;
  }

  @media (max-width: 721px) {
    grid-template-columns: 1fr;
    padding-top: 0;
   }
}

.header{
    padding-left: 220px;
    color: var(--orange);
    font-weight: 550;   
    font-size: 1.2rem;
    margin-bottom: -2rem;
    font-style:italic;

    @media (max-width: 721px) {
        padding-left: 4rem;
        margin-bottom: 0;
        margin-top: 1rem;
       }
}