.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    justify-self: center;
    align-self: center;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
}


.wrapper h2{
    margin-bottom: 1rem;
    color: var(--orange);
}
.price{
    font-weight: 750;
}

.row_input{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.wrapper button{
    box-shadow: none;
}