.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(2rem, 21.3vw - 7.3rem, 6rem);
  max-width: 1440px;


  @media (min-width: 1000px) {
    grid-template-columns: 450px 1fr; 
  }
}

.shoe_wrapper{
  width: 100%;
  max-width: 450px;
  min-height: 300px;
  position: relative;
  
  
  @media (min-width: 420px) {
    grid-column: 1 / 2;
    justify-self: center;
  }
}

.shoe{
  height: 100%;
  width: 100%;
  object-fit: cover;

  @media (min-width: 420px) {
    grid-column: 1 / 2;
    border-radius: 1rem;
  }
}

.image_buttons{
  position: absolute;
  top: 45%;
  cursor: pointer;
  background: white;
  padding: 0.8rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;

  @media (min-width: 420px) {
   display: none;
  }
}

.left{
  left: 1rem;
}

.right{
  right: 1rem;
}

.thumbnails{
  display: none;
  
  @media (min-width: 421px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
  }
}

.thumbnail{
  width: 20%;
  object-fit: cover;
  border-radius: 0.5rem;
  cursor: pointer;
}

.description{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  max-width: 500px;

  @media (min-width: 400px) {
    gap: 2rem;
    align-self: center;
  }
}

.company_title{
  font-size: 0.84rem;
  font-weight: 700;  
  text-transform: uppercase;
  color: var(--orange);
  letter-spacing: 0.08rem;
}

.shoe_name{
  font-size: clamp(2rem, 2.7vw + 1.3rem, 3rem);
  font-weight: 650;
  line-height: 1;

  @media (min-width: 1000px) {
    margin-top: -1rem;
  }
} 

.abstract{
  font-size: 1rem;
  color: var(--dark-grayish-blue);
  font-weight: 500;
  line-height: 1.75;
}

.price_wrapper{
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (min-width: 400px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
  }
}

.price{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: auto;
  font-size: 1.75rem;
  font-weight: 750;
  color: var(--very-dark-blue);
}


.price_discount{
  font-size: 1rem;
  color: var(--orange);
  background: var(--pale-orange);
  padding: 0.1rem 0.6rem;
  font-weight: 750;
  border-radius: 0.5rem;
}


.price_original{
  font-size: 1rem;
  color: var(--grayish-blue);
  font-weight: 750;
  letter-spacing: 0.06rem;
  position: relative;
}

.price_original::after{
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1.2px;
  background: var(--grayish-blue);
  top: 58%;
}


.actions{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 400px) {
    flex-direction: row;
  }
}


.quantity{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 1.5rem;
  color: var(--very-dark-blue);
  background-color: var(--light-grayish-blue);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;

  @media (min-width: 400px) {
    width: 250px;
  }
}




