.header{
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    max-width: 1200px;
    gap: clamp(1.2rem, 4.8vw + 0rem, 3rem);
    padding: clamp(1.5rem, 2.7vw + 0.8rem, 2.5rem);
    padding-top: clamp(1rem, 2.7vw + 0.3rem, 2rem);

    @media (min-width: 740px) {
        align-items: center;
        padding: 0 1rem;
    }
    
    @media (min-width: 1300px) {
        border-bottom: 1px solid var(--grayish-blue);
    }
}

.wrapper button{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;


}

.cart{
    width: 100%;

}



.menu{
    transform: translateY(-1.4px);

    @media (min-width: 720px) {
        display: none;
    }
}


.logo{
    margin-right: auto;

    @media (min-width: 740px) {
        margin-right: 1rem; 
    }
}

.avatar{
    border-radius: 50%;
    width: 1.5rem;
    transform: translateY(1.75px);

    @media (min-width: 720px) {
     width: 2rem;
    }

    @media (min-width: 1300px) {
     width: 3rem;
    }
}

