.desktop_links{
    display: none;

    
    @media (min-width: 740px) {
        display: flex;
        margin-right: auto;

        height: 100px;
        align-items: center;
    }
    
}

.desktop_links a {
    position: relative;  
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: 0.875rem;
    font-weight: 550;
    padding: 0 1rem;
}


.desktop_links a:hover{
    color: var(--very-grayish-blue);
}

.underline{
    position: absolute;
    bottom: -40px;
    left: 25%;
    right: 25%;
    height: 4px;
    background: var(--orange);
}
