.modal_content{
    align-self: center;
    justify-self: center;

    display: flex;
    justify-content: center;
    align-items: center
  }
  
  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 2rem 0;
  }
  
  
  .close_button{
    position: absolute;
    right: 0;
    top: -1.85rem;
    width: 1.2rem;
  }

  .close_button:hover{
    filter: hue-rotate(150deg) saturate(600%) brightness(150%);
  }
  
  
  .shoe_wrapper{
      width: 100%;
      max-width: 450px;
      position: relative;    
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

    }
    
    .shoe{
      width: 100%;
      object-fit: cover;
      height: 100%;
      aspect-ratio: 1 / 1;
      grid-column: 1 / 2;
      border-radius: 1rem;
    
    }
    
    .image_buttons{
      position: absolute;
      top: 35%;
      cursor: pointer;
      background: white;
      padding: 0.8rem;
      height: 2.6rem;
      width: 2.6rem;
      border-radius: 50%;
      border: 3px solid var(--orange);
    }
  
    
    .left{
      left: -1.2rem;
    }
    
    
    .right{
      right: -1.2rem;
    }
    
   
  
    .thumbnails{
      display: none;
      
      @media (min-width: 421px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.75rem;
      }
    }
    
  
    .thumbnails button{
      width: 90px;
      height: 90px;
      position: relative;
    }
  
    .thumbnail{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  
    .selected{
      border: 2px solid var(--orange);
      position: absolute;
      inset: -3px;
      border-radius: 0.6rem;
    }
  
    .fade{
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;
    }