
.wrapper{
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}

.header{
    text-align: center;
    margin: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.collection{
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    max-width: 1400px;
    margin: 0 auto;
}

.collection_link{
  display: block;
    padding-left: 2rem;
    color: var(--dark-grayish-blue);
    font-weight: 550;   
    font-size: 1.2rem;
    margin-top: 4rem;
    text-decoration: underline var(--pale-orange) 4px;
    text-decoration-line: underline;
    text-decoration-color: var(--pale-orange);
    text-decoration-skip-ink: none;

    @media (max-width: 721px) {
        padding-left: 2rem;
        margin-bottom: 0;
       }
}

.collection_link:hover {
    text-underline-offset: 0.25em;
    text-decoration-color: var(--orange) ;
    text-decoration-thickness: 2px;
  }

.arrow {
    display: inline-block;
    color: var(--color-primary);
    transition: all 200ms;
    font-weight: 400;
    cursor: pointer;
  }

  .collection_link:hover .arrow {
    transform: translateX(0.25em);
    color: var(--orange);
  }
