.wrapper{
    /* max-width: 1200px; */

}

.header{
    text-align: center;
    margin: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;

    @media (max-width: 721px) {
        margin-left: 2rem;
       }
}

.collection_link{
  display: block;
    padding-left: 2rem;
    color: var(--dark-grayish-blue);
    font-weight: 550;   
    font-size: 1.2rem;
    margin-top: 4rem;
    text-decoration: underline var(--pale-orange) 4px;
    

    @media (max-width: 721px) {
        padding-left: 2rem;
        margin-bottom: 0;
       }
}

.collection_link:hover {
    text-underline-offset: 0.25em;
    text-decoration-color: var(--orange) ;
    text-decoration-thickness: 2px;
  }

.arrow {
    display: inline-block;
    color: var(--color-primary);
    transition: all 200ms;
    font-weight: 400;
    cursor: pointer;
  }

  .collection_link:hover .arrow {
    transform: translateX(0.25em);
    color: var(--orange);
  }
